<!--Also want to see link to universal calendar-->
<!--Also want to see link to arts-->

<h1>Moments App</h1>

<%= link_to('Universal Calendar', moments_universal_path(date: Date.today)) %>
<%= link_to('Your moments', moments_path) %>
<%= link_to "Add today's moment", new_moment_path(date: Date.today) %>
<%= link_to('Log in', new_user_session_path) %>
<%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
<%= link_to 'About', static_pages_about_path %>
