<!-- Art should display something - image, audio, words, video,
    and have its moment written above it
    and two users listed-->

<h1>Listing arts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Moment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td><%= art.user_id %></td>
        <td><%= art.moment_id %></td>
        <td><%= link_to 'Show', art %></td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @moment.day %>
<br>

<%= link_to "Home", root_path %>
