<!--Moments index should be in calendar form-->
<!--With either link or form to submit today's moment-->

<h1>Listing moments</h1>

<table>
  <thead>
    <tr>
      <th>Sentence</th>
      <th>Day</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @moments.each do |moment| %>
      <tr>
        <td><%= moment.sentence %></td>
        <td><%= moment.day %></td>
        <td><%= link_to 'Show', moment %></td>
        <td><%= link_to 'Edit', edit_moment_path(moment) %></td>
        <td><%= link_to 'Destroy', moment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add today's moment", new_moment_path %>
