<%= link_to "Previous month", moments_path(date: @moments.first.date.prev_month) %>

<div class="calendar">
  <div class="calendar-header row">
    <h3 class="medium-4 medium-centered columns"><%= @moments.first.date.strftime("%B %Y") %></h3>
  </div>
  <div class="day-header row">
    <div class="medium-2 columns">
    <h6> Sunday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Monday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Tuesday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Wednesday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Thursday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Friday </h6>
    </div>
    <div class="medium-2 columns">
    <h6> Saturday </h6>
    </div>
  </div>
  <div class ="row">
  <% firstday = @moments.first.date.wday %>
  <% firstday.times do %>
    <div class="blank-day medium-2 columns"></div>
  <% end %>
  <% @moments.each_with_index do |calDay, index| %>
    <% if index % 7 == firstday+1 %>
      </div>
      <div class="row">
    <% end %>
    <div class="calendar-day medium-2 columns">
      <p class="date-header"><%= calDay.date.strftime("%-d") %></p>
      <% if calDay.moment.present? %>
        <p class="sentence"><%= calDay.moment.sentence %></p>
      <% end %>
    </div>
  <% end %>
  <% lastday = @moments.last.date.wday %>
  <% (6-lastday).times do %>
     <div class="blank-day medium-2 columns"></div>
  <% end %>
  </div>
</div>

<%= link_to "Next month", moments_path(date: @moments.first.date.next_month) %>


<%= link_to "Add today's moment", new_moment_path %>
<%= link_to "Home", root_path %>
