<h1><%= Time.now.strftime("%a %B %d, %Y") %></h1>

<%= simple_form_for @moment do |form| %>
  <%= form.input :sentence, label: 'Today I...' %>
  <%= form.input :day %>
  <%= form.button :submit %>
<%- end %>

<%= link_to 'Back', moments_path %>