<!--Moments should be viewable but not editable by non-owned users-->
<!--Moment should have add-art option, but this is not available to moment's owner-->

<p id="notice"><%= notice %></p>

<p>
  <strong>On</strong>
  <%= @moment.day.strftime("%A %B %d, %Y") %>
  I
  <%= @moment.sentence %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
